*{
    margin:0;
    padding-left:0;
    box-sizing: border-box
}
.container{
    max-width: 1170px;

    margin: auto;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;

}
.footer{
    background-color: black ;
    padding: 70px 0;
}
.footer-col {
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px;
    text-transform: capitalize;
    text-decoration-color: #cbc7e3;
    color: #cbc7e3;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #da829f;
    height: 2px;
}