
{% load static %}
<!doctype html>
<html lang="en">
  {% if not user.is_authenticated %}
  <h3>Requires password, authenticate yourself <a href="{% url 'login' %}">here</a>.</h3>
  {% else %} 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'challan.css' %}">
  </head>
  <body>
     <!-- <button type="button" class="btn btn-primary">Challan portal</button> -->
     <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand text-light" href="{%url 'issue_challan'%}">E-Challan</a>
      <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-link active text-light" href="{%url 'e_contact'%}">contact us<span class="sr-only">(current)</span></a>
          <a class="nav-link text-light " href="{%url 'e-challan'%}">about e-challan</a>
          <a href="{% url 'logout' %}">Logout</a> &nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </nav><br><br><br><br><br>
    <div>
      <div class="row">
          <div class="col-sm-6">
            <div class="cards">
              <div class="card-body " style="background-color: red;">
                <h5 class="card-title">
                  <a class="text-light" href="{% url 'challan-form' %}" style="width:150px;height:40px;">Issue Challan</a></h5>  
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" style="background-color: green ;">
                <h5 class="card-title">
                  <a  class="text-light" href="{%url 'vehicle-form'%}" style="width:150px;height:40px;">Vehicle Registration</a></h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" style="background-color: blue;">
                <h5 class="card-title">
                  <a class="text-light" href="{%url 'vehicle_details'%}" style="width:150px;height:40px;">Vehicle Details</a></h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
              <div class="card">
                <div class="card-body" style="background-color: fuchsia;">
                  <h5 class="card-title">
                    <a  class="text-light" href="{%url 'challan-history'%}" style="width:150px;height:40px;">Issue History</a></h5>
                </div>
              </div>
            </div>
            {% comment %} <div class="col-sm-6">
              <div class="cards">
                <div class="card-body" style="background-color: yellow;">
                  <h5 class="card-title">
                    <a href="#" style="width:170px;height:40px;">Registred Vehicles</a></h5>
                </div>
              </div>
            </div> {% endcomment %}
    </div>
    </div>
   
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
  {% endif %}
</html>

